body {
   background-color: wheat;
   overflow-y: auto;
   width: 100vw;
   height: auto;
   overflow-x: hidden;
}

.banner{
   position: relative;
   top: 10%;
}
.app {
   background-color: wheat;
   
   
}




