.stripe-checkout-page {
  position: absolute;
  top: 10%;
  width: 100vw;
  height: 100vh;
  left: 0;
  overflow-y: scroll;
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
}

.payment-container {
  height: 30rem;
  width: 60%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  margin-bottom: 3rem;
  background: #507661;
}

.credit-card-form {
  background: #d4a55d;
  
  width: 100%;
  margin: 4rem;
}

.card-info-title {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}


.card-inputs-container {
  display: flex;
  padding-top: 1rem;
  margin-left: 10rem;
  margin-right: 10rem;
  flex-direction: row;
  justify-content: space-between;
}

.input-owner-card {
  height: 2rem;
  width: 15rem;
  padding-left: 0.3rem;
}

.input-card-CCV {
  height: 2rem;
  padding-left: 0.3rem;
  width: 7rem;
}

.card-number-div {
  margin-top: 2rem;
  padding-left: 10rem;
}

.input-card-number {
  height: 2rem;
  padding-left: 0.3rem;
  width: 28.6rem;
}