.checkout {
    position: absolute;
    top: 10%;
    width: 100vw;
    height: 100vh;
    left: 0;
    overflow-y: scroll;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
}

.checkout-title {
    position: relative;
    left: 20%;
    margin-top: 3rem;
    font-size: 1.6rem;
    color: #111;
}

.emptyH1 {
    margin-left: 39%;
    margin-top: 3rem;
    color: #111;
}

.checkout-container {
    height: 27rem;
    width: 60%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    background: #507661;
    overflow-y: scroll;
}

.checkout-header-info {
    height: 3rem;
    width: 100%;
    background: #d4a55d;
    border-top: 2px solid #ffff;
    border-bottom: 2px solid #ffff;
    display: flex;
    flex-direction: row;
}

.product-price-container{
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.details-title {
    padding-top: 1rem;
    font-size: 0.7rem;
}

.shopping-cart-products-container {
    height: 30rem;
    width: 100%;
    justify-content: space-between;
}

.checkout-li {
   list-style: none;
   padding-top: 0.4rem;
}

.product-cart-details {
    height: 7rem;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.product-details-container {
    width: 30%;
    height: 7rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.product-price-info-container {
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.img {
    height: 4rem;
    width: 7vw;
    margin-top: 1rem;
}

.checkout-product-name {
    left: 6%;
    top: 40%;
    position: relative;
}

.product-price {
    top: 20%;
    position: relative;
    padding-left: 2rem;
    font-size: 0.7rem;
}

.delete-product {
    position: relative;
    top:40%;
    right: 2rem;
    cursor: pointer;
    color: #cc0000;
}

.to-checkout-div {
    height: 3rem;
    border-top: 3px solid #ffff;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 3rem;
    width: 60%;
    background: #d4a55d;
    margin: 0 auto;
    margin-bottom: 3rem;
}

.emptyCart {
    padding-top: 1rem;
}

.empty-btn-text {
    color: #cc0000
}

.empty-btn-text:hover {
    color: #ff3333
}

.emptyCart-checkout {
    color:  #0052cc;
    height: 1rem;
    padding: 1rem;
}

.emptyCart-checkout:hover {
    color:#3385ff
}
.to-checkout-div-mobile {
    display: none;
}
.emptyCart-checkout-mobile {
    display: none;
}

.if-empty-div {
    overflow-y: scroll;
}


@media screen and (max-width: 1000px) {
    .shopping-cart-products-container {
        height: auto;
    }
    .checkout {
        top: 16%;
    }
    .checkout-container {
      height: auto;
      width: 100vw;
      background: unset;
    }
    .checkout-title {
        left: 3%;
        font-size: 1rem;
    }
    .delete-product {
       right: 1rem;
    }
    .checkout-header-info {
        display: none;
    }
    .img {
        height: 6rem;
        width: 33vw;
    }
    .to-checkout-div {
        width: 100%;
    }
    .checkout-product-name {
        display: none;
    }
    .checkout-btn-text {
        font-size: 0.7rem;
    }
    .product-cart-details {
        margin: 0 auto;
        color: #000;
        font-weight: 600;
        width: 90%;
    }
    .product-price {
        padding-left: unset;
    }
    .to-checkout-div {
        display: none;
    }
    .to-checkout-div-mobile {
        display: block;
        margin-top: 3rem;
        margin-left: 1rem;
        color: #000;
        width: 90%;
        font-weight: 600;
    }
    .emptyCart-checkout-mobile {
        display: block;
        background: #007acc;
        width: 90%;
        margin-left: 1rem;
        margin-top: 1rem;
        margin-bottom: 6rem;
        height: 3rem;
    }
    .checkout-container {
        overflow-y: unset;
    }
    .checkout-btn-text-mobile {
        position: relative;
        left: 3.5rem;
        color: #fff;
        top: 0.9rem
    }

}
  




