.checkout {
    position: absolute;
    top: 10%;
    width: 100vw;
    height: 100vh;
    left: 0;
    overflow-y: scroll;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
}

.checkout-title {
    position: relative;
    left: 20%;
    margin-top: 3rem;
    font-size: 1.6rem;
    color: #111;
}

.emptyH1 {
    margin-left: 39%;
    margin-top: 3rem;
    color: #111;
}

.checkout-container {
    height: 30rem;
    width: 60%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    margin-bottom: 3rem;
    background: #507661;
}

.checkout-header-info {
    height: 3rem;
    width: 100%;
    background: #507661;
    border-top: 2px solid #ffff;
    border-bottom: 2px solid #ffff;
    display: flex;
    flex-direction: row;
}

.product-details-container {
    display: flex;
    width: 30%;
    flex-direction: row;
}


.product-price-container {
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.details-title {
    padding-top: 1rem;
    padding-left: 1rem;
    font-size: 0.7rem;
}

.shopping-cart-products-container {
    height: 30rem;
    width: 100%;
    justify-content: space-between;
}

.checkout-li {
    height: 7rem;
    width: 100%;
    list-style: none;
    margin-top: 1rem;
}

.product-cart-details {
    width: 30%;
    height: 7rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.img {
    height: 7rem;
    width: 10vw
}

.checkout-product-name {
    left: 6%;
    top: 40%;
    position: relative;
}

.checkout-price {
    font-size: 0.7rem;
    padding-left: 1rem;
    top: 34%;
    position: absolute;
}

.checkout-getInfo {
    top: 40%;
    position: absolute;
    height: 1.6rem;
    width: 4rem;
    margin-left: 1rem;
    border: none;
    margin-top: 2rem;
    background: #8FBC8B;
    color: white;
    cursor: pointer;
}

.checkout-getInfo:hover {
    background: #90EE90;
}

.removeProduct {
    /* border: none;
    position: absolute;
    right: 6%;
    top: 40%;
    background: none;
    font-size: larger;
    cursor: pointer; */
}


.to-checkout-btn {
    height: 3rem;
    border-top: 3px solid #ffff;
    cursor: pointer;
}

.totals {
    margin-top: -4rem;
    margin-bottom: 3rem;
    margin-left: 1rem;
    font-size: 160%;
    color: #111;
    font-style: bold;
    font-weight: 600;
    width: fit-content;
}

.emptyCart {
    margin-top: 1rem;
    margin-bottom: 2rem;
    margin-left: 31rem;
    border: none;
    background: #ff3333;
    width: 10rem;
    height: 2rem;
    color: #ffff;
    cursor: pointer;
}

.emptyCart:hover {
    background: #ff6666;
}

.billingInfo {
    /* position: absolute;
    left: 51%;
    background: red;
    width: 10rem;
    height: rem;
    height: 10rem;

    color: black; */
}
