.checkout {
    position: absolute;
    top: 10%;
    width: 100vw;
    height: 100vh;
    left: 0;
    overflow-y: scroll;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
}

.checkout-title {
    position: relative;
    left: 20%;
    margin-top: 3rem;
    font-size: 1.6rem;
    color: #111;
}

.emptyH1 {
    margin-left: 39%;
    margin-top: 3rem;
    color: #111;
}

.checkout-container {
    height: 27rem;
    width: 60%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    background: #507661;
    overflow-y: scroll;
}

.checkout-header-info {
    height: 3rem;
    width: 100%;
    background: #507661;
    border-top: 2px solid #ffff;
    border-bottom: 2px solid #ffff;
    display: flex;
    flex-direction: row;
}

.product-price-container{
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.details-title {
    padding-top: 1rem;
    font-size: 0.7rem;
    
}

.shopping-cart-products-container {
    height: 30rem;
    width: 100%;
    justify-content: space-between;
}

.checkout-li {
   list-style: none;
   padding-top: 0.4rem;
}

.product-cart-details {
    height: 7rem;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.product-details-container {
    width: 30%;
    height: 7rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.product-price-info-container {
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.img {
    height: 7rem;
    width: 10vw
}

.checkout-product-name {
    left: 6%;
    top: 40%;
    position: relative;
}

.product-price {
    top: 20%;
    position: relative;
    padding-left: 2rem;
    font-size: 0.7rem;
}

.delete-product {
    position: relative;
    top:40%;
    right: 2rem;
    cursor: pointer;
    color: #cc0000;
}

.to-checkout-div {
    height: 3rem;
    border-top: 3px solid #ffff;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 3rem;
    width: 60%;
    background: #507661;
    margin: 0 auto;
    margin-bottom: 3rem;
}

.emptyCart {
    padding-top: 1rem;
}

.empty-btn-text {
    color: #cc0000
}

.empty-btn-text:hover {
    color: #ff3333
}

.emptyCart-checkout {
    background: #0052cc;
    color: #ffff;
    height: 1rem;
    padding: 1rem;
}

.emptyCart-checkout:hover {
    background:#3385ff
}


@media screen and (max-width: 1000px) {
    .checkout-container {
      height: auto;
      width: 100vw;
    }
    .delete-product {
       right: 1rem;
    }
    .img {
        display: none;
    }
    .to-checkout-div {
        width: 100%;
    }
    .checkout-btn-text {
        font-size: 0.7rem;
    }
}
  




