.billing-page {
    position: absolute;
    top: 10%;
    width: 100vw;
    height: 100vh;
    left: 0;
    overflow-y: scroll;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
}

.billing-container {
    height: 30rem;
    width: 60%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    margin-bottom: 3rem;
    background: #507661;
}

.billing-title {
    position: relative;
    left: 20%;
    margin-top: 3rem;
    font-size: 1.6rem;
    color: #111;
}

.cart-container {
    height: 30rem;
    width: 20%;
    border-top: 2px solid #ffff;
    display: flex;
    flex-direction: column;
    text-align: center;
    /* border-right: 2px solid #ffff; */
}

.products-in-cart-text {
    padding-top: 2rem;
}

.cart-tota-amount-text {
    padding-top: 1rem;
}


.promo-code-div {
    height: 3rem;
    display: flex;
    flex-direction: row;
    font-size: 0.7rem;
    justify-content: space-around;
    margin-top: 3rem;
    cursor:pointer;
}

.promo-code-div:hover {
    color: #b3b3b3;
}

.promo-text {
    margin-top: 1rem;
}

.promo-code-input-div {
    font-size: 0.7rem;
}

.promo-inout {
    padding: 0.3rem
}

.user-info-container {
    display: flex;
    width: 80%;
    /* background:darkviolet; */
    background-color: #d4a55d;
    flex-direction: column;
    border-top: 2px solid #ffff;
}

.contact-title {
    margin: 0 auto;
    padding-top: 1rem
}

.account-text-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 0.7rem;
    margin-top: 0.6rem;
}

.loginTitle {
    padding-left: 0.6rem;
    cursor: pointer;
}

.loginTitle:hover {
    color: #0033cc;
}

.user-billing-info-container {
    padding-top: 1rem;
    width: 90%;
    height: 22rem;
    margin: 0 auto;
}

.input-fields-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.input-email {
    padding-left: 0.3rem;
    height: 1.3rem;
    width: 30%;
}

.checkbox-container {
    font-size: 0.7rem;
    padding-top: 0.3rem;
}

.checkbox {
    cursor: pointer;
}

.user-personal-info-container {
    margin-top: 1rem;
    text-align: center;
    width: 90%;
    /* background:darkviolet; */
}

.input-names, .input-info {
    padding-left: 0.3rem;
    height: 1.3rem;
    width: 33%;
}

.names-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1rem;
}

.personal-info-fields {
    display: flex;
    flex-direction: column;
}

.personal-info-fields-1, .personal-info-fields-2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1rem;
}










@media screen and (max-width: 1000px) {
    .billing-container {
        flex-direction: column;
        width: 100vw;
    }
    .cart-container {
        width: 100vw;
    }
    .user-billing-info-container, .user-info-container {
        width: 100vw;
    }
    .user-billing-info-container {
        flex-direction: column;
    }
    .input-fields-div {
        flex-direction: column;
        margin: 0 auto;
    }
}
  





/* .user-info-container {
    padding: 1.3rem;
}

.billing-text {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.contact-title {
    font-size: 1.2rem;
}

.accountTitle {
    margin-right: 1rem;
}

.loginTitle {
    color: #33A8FF;
    cursor: pointer;
}
  
.input-email {
    width: 32vw;
    height: 2rem;
    text-indent: 0.3rem;
    border-radius: 0.3rem;
    margin-top: 1rem;
    border: unset;
}

.userInputs {
    margin-top: 0.6rem;
}

.checkbox-div {
    margin-left: 0rem;
    display: flex;
    margin-top: 1rem;
    flex-direction: row;
}

.checkbox{
    cursor: pointer;
    height: 1rem;
    width: 1rem;
}

.subscribe-text {
    margin-left: 0.6rem;
    margin-top: 0.2rem;
}


.personal-info-container {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
}

.personal-title {
    font-size: 1.2rem;
}

.input-names {
    border-radius: 0.3rem;
    text-indent: 0.3rem;
    border: unset;
    height: 2rem;
    width: 14vw;
    margin-top: 0.3rem;
}

.names-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 32.2vw;
}

.input-info {
    width: 32.2vw;
    height: 2rem;
    text-indent: 0.3rem;
    border-radius: 0.3rem;
    margin-top: 1rem;
    border: unset;
}

.personal-info-fields {
    margin-top: 1.3rem;
}

.user-location-info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 32.4vw;
    margin-top: 1rem;
}

.dropDown-country {
    border-radius: 0.3rem;
    text-indent: 0.3rem;
    border: unset;
    height: 2rem;
    width: 14vw;
    margin-top: 0.3rem;
    color: #808080;
    cursor: pointer;
}

.btn-send-info-container {
    background: #1482FE;
    width: 32.2vw;
    margin-top: 3rem;
    height: 2rem;
    border-radius: 0.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.btn-place-order-text {
   margin: unset;
}


.email-warning {
    font-size: 0.7rem;
    color:#FA0C0C;
    position: absolute;
    top: 3.4rem;
}


input.formInvalid::-webkit-input-placeholder {
    color: #FA0C0C;
 }


.name-warning {
    top: -2rem;
    font-size: 0.7rem;
    color: #FA0C0C;
    position: relative;
    left: 13rem;
} */