.footer {
    position: fixed;
    background-color: #507661;
    height: 49px;
    width: 100vw;
    bottom: 0%;
    left: 0%;
    z-index: 1000;
}

h4 {
    position: absolute;
    color: white;
    font-family: "Lucida Bright", Georgia, serif;
    font-style: italic;
    color: white;
    left: 30%;
    top: -10%;
}

@media screen and (max-width: 1300px) {
    .footer {
        
        z-index: unset;
    }
}

