.contactInfo {
    background-image: url("./img/contactbackground.jpg");
    background-size: cover;
    height: 100%;
    display: flex;
    flex-direction: column;
    width: 50%;
    background-color: darkslategrey;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: #000 0.1px 0 2px;
}

h1 {
    margin-left: auto;
    margin-right: auto;
}


.align-contact {
    display: flex;
    flex-direction: column;
    margin-top: 0.3rem;
    margin-left: auto;
    margin-right: auto;
    color: #ffff;
}

span {
    margin-bottom: 0.3rem;
}

h3 {
    margin-left: auto;
    margin-right: auto;
}

.user-info {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.msg {
    margin-left: auto;
    margin-right: auto;
}


textarea {
    resize: none;
    height: 17%;
    padding: 0.6rem;
    width: 84%;
    margin-left: auto;
    margin-right: auto;

}


.btnSend {
    background-color: #507661;
    border: none;
    margin-top: 0.7rem;
    height: 2.4rem;
    cursor: pointer;
    color: white;
    width: 10rem;
    margin-left: auto;
    margin-right: auto;
}


.btnSend:hover {
    background-color: #d4a55d;
}

/* .companyName2 {
    font-family: "Lucida Bright", Georgia, serif;
    font-style: oblique;
    color: white;
    top: 3%;
    left: 12%;
    font-size: 200%;
}

.city {
   font-family: Arial, Helvetica, sans-serif;
   top: 1%;
   font-weight: 600;
   left: 33%;
}

.street {
    font-family: Arial, Helvetica, sans-serif;
    top: 1%;
    font-weight: 400;
}

.adress {
    font-family: Arial, Helvetica, sans-serif;
    top: -2%;
    font-weight: 400;
}

.tele {
    font-family: Arial, Helvetica, sans-serif;
    top: -5.1%;
    font-weight: 400;
}

.dropLine{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-left: 24%;
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    width: 160px;
    font-size: 120%;
}

.dropLine:hover {
    color: wheat;
}

.sendForm {
    position: fixed;
    top: 200px;
}
 */

