.products {
    position: relative;
    background-color: white;
    top: 30px;
    left: 0%;
    height: 1000px;
}

ul {
    position: relative;
    display: inline-flex;
    
}

li {
    position: relative;
    margin-left: 40px;
}