/* //////////////// Start of Products on the LandingPage */
.products {
    position: relative;
    top: 7rem;
    height: 40rem;
    width: 60%;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    margin: 0 auto;
}

.ul-landingPage {
    height:fit-content;
    display: flex;
    padding: 1px;   
 }
 
 .li-landingPage {
     position: relative;
     list-style: none;
     height: 23rem;
     float: left;
     margin: 1rem;
     width: 24%;
     background-color: #507661;
 }

.imgs-landpage {
    height: 9rem;
    width: 100%;;
}

.product-info {
    display:flex;
    flex-direction: column;
    color: #ffffff;
    padding-left: 1rem;
}

.product-name {
    padding-top: 1rem;
 }
 
 .product-text {
     padding-top: 0.4rem;
     font-size: 0.84rem;
 }
 
 .product-price {
    padding-top: 1.6rem;
 }

 .btns {
    margin-top: 1rem;
     border-top: 2px solid #F5DEB3;
     display: flex;
     flex-direction: row;
     justify-content: space-around;
     justify-content: space-around;
 }

 .addToCartFront {
    height: 2rem;
    border: none;
    height: 2rem;
    background: #8FBC8B;
    color: white;
    cursor: pointer;
    margin-top: 1.3rem;
}

.addToCartFront:hover {
    background: #90EE90;
}

.getInfoFront {
    height: 2rem;
    width: 4rem;
    border: none;
    background: #8FBC8B;
    color: white;
    cursor: pointer;
    margin-top: 1.3rem;
}

.getInfoFront:hover {
    background: #90EE90;
}

 /* //////////////// Start of ProductPage */

.productsPage {
    position: relative;
    top: 10rem;
    height: 40rem;
    width: CALC(100vw - 1rem);
}

.categories-div {
    height: 30rem;
    width: 16rem;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #507661;
    margin-left: 3rem;
    position: absolute;
    color: #ffff;
}

.titleCategories {
    margin-left: 5.1rem;
}

.checkboxes {
    display: flex;
    flex-direction: column;
}

.checkbox-div {
    font-size: 1rem;
    margin-left: 2rem;
    margin-top: 1rem;
}

.cat {
    cursor: pointer;
}

.cat:hover {
    color: lightgray;
}

.amountOf {
    position: absolute;
    right: 21%;
}

.products-div {
    /* background-color: #d4a55d; */
    height: fit-content;
    width: 76vw;
    left: 20%;
    position: absolute;
    margin-bottom: 6rem;
}

.productsUl {
    margin: 2rem;
    /* height: 90%;
    width: 95.4%; */
    display: flex;
    overflow: scroll;
    flex-direction: row;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffff;
    display: contents;
}

.productsLi {
    /* height: 22rem;
    width: 13rem; */
    float: left;
    /* background:#507661; */
    position: relative;
    list-style: none;
    margin: 0.3rem;
    float: left;
    /* padding: 1rem; */
}

.productsLi:hover {
    transition: all .2s ease-in-out;
    transform: scale(1.042);
    
    /* -webkit-filter: blur(6px);
    -moz-filter: blur(6px);
    -o-filter: blur(6px);
    -ms-filter: blur(6px);
    filter: blur(6px); */
} 

.productImg {
    height: 11rem;
    width: 17rem;
}
.spans {
    margin: 0.3rem;
    display: flex;
    flex-direction: column;
    color: #000000;
}

.products-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: #111111;
}

.link-productInfo-name {
    font-weight: 400;
    margin-top: 0.4rem;
    color: #111111;
}

.productName {
    font-weight: 400;
    margin-top: 0.4rem;
}

.productPrice {
    font-weight: 700;
    margin-top: 0.6rem;
}

.productInfo {
    font-size: 0.7rem
}

.addToCart {
    height: 2rem;
    border: none;
    height: 2rem;
    background: #8FBC8B;
    color: white;
    cursor: pointer;
    margin-top: 1.3rem;
}

.addToCart:hover {
    background: #90EE90;
}

.getInfo {
    height: 2rem;
    width: 4rem;
    border: none;
    background: #8FBC8B;
    color: white;
    cursor: pointer;
    margin-top: 1.3rem;
    right: 1rem;
    position: absolute;
}

.getInfoSearchPage {
    height: 2rem;
    width: 4rem;
    border: none;
    background: #8FBC8B;
    color: white;
    cursor: pointer;
    margin-top: 1.3rem;
    right: 1rem;
    position: absolute;
}

.getInfo:hover {
    background: #90EE90;

}

/* Start Of Searchpage */


.SearchPage {
    position: absolute;
    top: 7rem;
    height: fit-content;
}

.search-title {
    font-family: Arial, Helvetica, sans-serif;
    color: #000000;
    
}