.products {
    position: relative;
    background-color: wheat;
    top: 30px;
    left: 0%;
    height: auto;
    text-align: center;
}

ul {
    position: relative;
    display: inline-flex;
    list-style-type: none;
    margin: 40px;
    left: -2%;
    border: none;
    
}

li {
    position: relative;
    margin-left: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 120%;
    margin: 20px;
    cursor: pointer;
    text-align: left;
    background-color: #507661;
    color: white;
    height: 400px;
}

.img {
    height: 200px;
    width: 300px;
}

.name {
    position: absolute;
    display: block;
    top: 52%;
    
    
}

.price {
    position: absolute;
    display: block;
    top: 62%;
   
}

.info {
    position: absolute;
    display: block;
    top: 72%;
    font-size: 72%;


}

hr {
    position: absolute;
    display: block;
    top: 87%;
    width: 100%;

}

.addToCart {
    position: absolute;
    display: block;
    top: 91.6%;
    border:none;
    color: white;
    background-color: #8AEC97;
    padding: 6px;
    left: 34%;
    cursor: pointer;
    width: 100px;
    border-radius: 3px;
}

.addToCart:hover {
    background-color: darkgreen;
}



/* .productsUl {
    position: absolute;
    background-color: yellow;
    top: 30%;
} */

