.banner {
    position: relative;
    top: 8.1rem;
    height: 40rem;
    width: 80rem;
    background-image: url("../img/brunch.jpg");
    background-repeat: no-repeat;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: row;
    text-align: center;
    margin: 0 auto;
}

.bannerText1{
    position: relative;
    color: #ffffff;
    left: 6%;
    height: fit-content;
    font-size: 300%;
}


.bannerText2 {
    position: relative;
    color: #ffffff;
    height: fit-content;
    top: 34%;
    top: 17%;
    font-size: 184%;
    right: 60%;
}

a {

    color: #ffffff;
}

/* h3 {
    position: relative;
    color: white;
    left: 6%;
    
    top: 34%;
    font-size: 200%;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
} */

p {
    /* position: relative;
    color: white;
    left: 6%;
    top: 31%;
    
    
    
    font-size: 100%; */


}

   