.header {
    position: fixed;
    background-color: #507661;
    height: 3rem;
    font-family: Arial, Helvetica, sans-serif;
    top: 3rem;
    width: 100vw;
    color: white;
    z-index: 1000;
    left: 0%;
}

.buttonsMenu {
    height: 3rem;
    display: flex;
    flex-direction: row;
}

.desktop-menu {
    height: 3rem;
    display: flex;
    margin: 0 auto;
    width: 60%;
    justify-content: space-evenly
}

.buttons {
    height: 2rem;
    padding-top: 1rem;
    color: #ffff;
}

.btn-text-desktop:hover {
    text-decoration: underline;
}

/* .buttons:hover {
    text-decoration: 2px solid;
} */


a {
    height: fit-content;
    text-decoration: none;
}


.searchBar {
    font-size: 90%;
    font-family: Arial, Helvetica, sans-serif;
    border: none;
}

.search-container {
    display: flex;
    align-items: center;
    
}

.searchField {
    border: none;
    width: 16rem;
    height: 1.6rem;
    padding: 0.2rem;
    background-repeat: no-repeat;
    /* top: 19%;
    position: absolute;
    left: 31%; */
    border-radius: 0.2rem;
    text-indent: 0.3rem;
}


.div-searchIcon {
    right: 10%;
    position: relative;
}

.hamburgerBtn{
    left: 3%;
    position: fixed;
    height: 4rem;
    width: fit-content;
    height: fit-content;
    display: none;
    cursor: pointer;
}

.hamburger-menu {
    background-color: #507661;
    
    /* display: none; */
    width: 100vw;
    flex-direction: column;
    position: fixed;
    top: 10.7%;
    left: 0;
    height: fit-content;
}

.hamburger-buttons {
    margin: 1rem;
    background-color: Transparent;
    background-repeat:no-repeat;
    color: #ffff;
    border: none;
    font-size: 120%;
    cursor: pointer;
}

.hamburger-buttons:hover {
    border-bottom: 2px solid;
    display: block;
}
