.header {
    position: fixed;
    background-color: #507661;
    height: 100px;
    width: 100vw;
    top:0%;
    left: 0%;
    color: white;
    z-index: 1000;
    font-family: Arial, Helvetica, sans-serif;
    
}

.buttonsMenu {
    position: relative;
    top: 60%;
    width: 700px;
    text-align: left;
    left: 27%;
    background: none;
    display: flex;
    justify-content: space-around;
}

.buttons {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    font-size: 120%;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffff;
    width: fit-content;
    display: flex;
}

.desktop-menu {
    display: flex;
    flex-direction: row;
    width: 80rem;
    position: relative;
    margin: 0 auto;
    left: 13%;
    justify-content: space-evenly;
    text-align: center;
}

.buttons:hover {
    border-bottom: 2px solid;
}


a {
    height: fit-content;
    text-decoration: none;
}


.searchBar {
    font-size: 90%;
    font-family: Arial, Helvetica, sans-serif;
    border: none;
}

.searchField {
    border: none;
    width: 16rem;
    height: 1.6rem;
    padding: 0.2rem;
    background-repeat: no-repeat;
    top: 19%;
    position: absolute;
    left: 31%;
    text-indent: 0.3rem;
}

.hamburgerBtn{
    left: 3%;
    position: fixed;
    height: 4rem;
    width: fit-content;
    height: fit-content;
    display: none;
    cursor: pointer;
}

.hamburger-menu {
    background-color: #507661;
    
    /* display: none; */
    width: 100vw;
    flex-direction: column;
    position: fixed;
    top: 19.7%;
    left: 0;
    height: fit-content;
}

.hamburger-buttons {
    margin: 1rem;
    background-color: Transparent;
    background-repeat:no-repeat;
    color: #ffff;
    border: none;
    font-size: 120%;
    cursor: pointer;
}

.hamburger-buttons:hover {
    border-bottom: 2px solid;
    display: block;
}
