.header {
    position: fixed;
    background-color: #507661;
    height: 100px;
    width: 100vw;
    top:0%;
    left: 0%;
    color: white;
}

.buttonsMenu {
    position: relative;
    top: 40%;
    left: 6%;
}

.buttons {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    margin-left: 40px;
    font-size: 160%;
    font-family: Arial, Helvetica, sans-serif;
    color: white;

}
